@{
    ViewData["Title"] = "Ghost Busters";
}
<h2>GhostBusters</h2>
<h3>How you gonna call?</h3>

<address>
    14 North Moore Street, Tribeca
    <br /> Manhattan, New York City, NY <br />
    <abbr title="Phone">P:</abbr>
    1-800-654-1984
</address>

<address>
    <strong>Ghost Busting:</strong>
    <a href="mailto:GhostBusters@GhostBusting.com">GhostBusters@Ghostbusting.com</a><br />
    <strong>Info</strong>
    <a href="mailto:GhostBustersInfo@GhostInfo.com">GhostBustersInfo@GhostInfo.com</a>
</address>
